wfsim/data/L1S1zer.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/L3S2zer.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M13_bend_zk.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M1M3_dxdydz_horizon.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M2_bend_zk.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M3_bend_grid.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/L1S2zer.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/L3S1zer.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M1M3_1um_156_grid.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M1M3_dxdydz_zenith.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M3_bend_coords.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/L2S2zer.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M1_bend_grid.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M2_1um_grid.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M2_GT_FEA.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M2_bend_coords.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/L2S1zer.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M1M3_thermal_FEA.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M1_bend_coords.fits.gz filter=lfs diff=lfs merge=lfs -text
wfsim/data/M2_bend_grid.fits.gz filter=lfs diff=lfs merge=lfs -text
